$color-white: #fff;
$color-black: #000;
$color-alert: red;
$color-blue: #125fca;
$color-dark-blue: #0b3b7e;

$font-010: 6px;
$font-020: 8px;
$font-030: 10px;
$font-040: 12px;
$font-050: 14px;
$font-060: 18px;
$font-070: 24px;
$font-080: 30px;
$font-090: 36px;
$font-100: 48px;
$font-110: 64px;
$font-120: 72px;

$space-010: 2px;
$space-020: 4px;
$space-030: 8px;
$space-040: 10px;
$space-050: 12px;
$space-060: 16px;
$space-070: 20px;
$space-080: 24px;
$space-090: 32px;
$space-100: 38px;
$space-110: 48px;
$space-120: 64px;
$space-130: 72px;
$space-140: 84px;
$space-150: 96px;
$space-160: 128px;
