/*
Not a fan of this single sass file import but to get around it
I need to eject from react-scripts. Or compile build sass files seperately
*/

@import "styles/variables";
@import "appLayout/Header/Header";
@import "appLayout/Main/Main";
@import "shared/Button/Button";
@import "shared/NavLink/NavLink";
@import "shared/SearchInput/SearchInput";
@import "shared/Containers/GridContainer";
@import "shared/Containers/FlexContainer";
@import "shared/TextLink/TextLink";
@import "shared/Card/Card";
@import "components/AddressCard/AddressCard";
@import "components/Restaurants/Restaurants";
@import "components/Restaurants/RestaurantCard/RestaurantCard";
@import "components/AllCuisines/AllCuisines";

* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

a,
p,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

body,
html {
  margin: 0 !important;
  background-repeat: no-repeat;
  background-color: $color-off-white;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: $color-dark-grey;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  word-break: normal;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
